
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 0.1px;
}

.header h3 {
  font-size: 1.5rem;
  color: black;
}

.login-title input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-title button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-title button:hover {
  background-color: #0056b3;
}

.login-title p {
  margin-top: 10px;
  text-align: center;
}

.login-title a {
  color: #007bff;
  text-decoration: none;
}

.login-title a:hover {
  text-decoration: underline;
}
